<section class="about-us-container">
  <div class="about-us-text">
    <h2>Un poco de info...</h2>

    <p class="about-us-p">
      Este es el proyecto final del módulo de Angular del bootcamp de
      programación (específicamente front-end) impartido por UpgradeHub. La
      temática fue elegida debido a que soy argentino y cuando uno está lejos de
      casa, la tierra tira incluso un poco más de lo normal. Estoy feliz de
      poder mostrarle al mundo las maravillas que esconde el lugar en el que
      nací.
    </p>

    <p class="about-us-p">
      Dicho proyecto contaba con varias exigencias obligatorias y otras posibles
      tareas consideradas como 'extras'. Estas últimas representaban el
      verdadero desafío (admito que varias cosas requirieron de ayudas externas,
      pero eso también es el día a día del programador) y estoy contento de
      haber podido desarrollarlas, creo yo, en un buen nivel. Opté por un código
      estructurado y prolijo para que no sea -tan- complicado de leer, pero
      sobre todo para poder entender rápidamente la lógica que apliqué cuando
      vuelva a visitar este proyecto dentro de un tiempo (algunos quizás se
      sientan identificados con esto).
    </p>

    <p class="about-us-p">Sigo disfrutando del camino. ¡Vamos por más!</p>

    <h4 class="about-us-sign">Fede Parrilla</h4>
  </div>
</section>
