@import '../../../styles/general/variables';

.place-details-container {
    margin: 20px;

    .place-details{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin: 30px;

        .place-details-text {
            font-size: 17px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            .place-details-titles {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .place-title {
                font-size: 52px;
                letter-spacing: 3px;
            }

            .place-details-activities-container {
                margin-top: 20px;
                font-size: 15px;
                display: flex;
                gap: 20px;

                .place-details-activities-box {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    border: 1px solid $light-blue;
                    border-radius: 10px;
                    padding: 10px;
                    text-align: center;
                }
            }

            .weather-data {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                margin-top: 20px;

                .weather-container {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    gap: 50px;
    
                    .weather-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .forecast-date {
                            font-size: 16px;
                            font-weight: bold;
                        }

                        .weather-temperature {
                            display: flex;
                            gap: 15px;
                            margin-top: 3px;

                            .forecast-temperature {
                                font-size: 14px;
                            }
                        }
                    }
    
                    .forecast-icon {
                        height: 70px;
                        width: 70px;
                    }
                }
            }
        }

        .place-details-gallery {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 20px;
    
            img {
                    object-fit: cover;
                    border-radius: 30px;
            }
        }
    }
}
