<section class="place-details-container">
  <article class="place-details">
    <div class="place-details-text">
      <div class="place-details-titles">
        <h2 class="place-title">{{ detailedPlace?.name }}</h2>
        <h4>{{ detailedPlace?.province }}</h4>
        <h5>{{ detailedPlace?.region }}</h5>
      </div>

      <p>{{ detailedPlace?.long_description }}</p>

      <div
        *ngIf="allActivities && allActivities.length > 0"
        class="place-details-activities-container"
      >
        <div
          *ngFor="let activity of allActivities"
          class="place-details-activities-box"
        >
          <h4 class="activity-title">{{ activity.name }}</h4>
          <p>{{ activity.description }}</p>
        </div>
      </div>
    </div>

    <div
      *ngIf="allImages && allImages.length > 0"
      class="place-details-gallery"
    >
      <img
        *ngFor="let image of allImages"
        [src]="image.url"
        [alt]="detailedPlace?.name"
      />
    </div>
  </article>
</section>
