<article class="main-info">
  <p class="main-info-description">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus officia
    qui quo ullam alias excepturi quos labore necessitatibus id porro facilis
    commodi explicabo, non placeat incidunt cupiditate possimus pariatur
    corrupti aspernatur saepe ex illo. Fuga, omnis. Incidunt obcaecati
    doloremque, accusamus dolorum quae voluptatem ipsum excepturi, at tempore
    iusto ullam quo nemo consequuntur deserunt eos! Quibusdam consequatur,
    numquam laborum cumque corrupti minus dolores fugiat voluptate alias rerum
    natus minima repellat. Repudiandae, deserunt eveniet! Ipsum consectetur
    delectus veniam nulla eos totam minus!
  </p>
</article>
