<div class="user-list-container">
  <div class="title-container">
    <i class="fa-solid fa-earth-americas"></i>
    <h3 routerLinkActive="new-place">
      <a [routerLink]="'/new-place'">Crear Nuevo Destino</a>
    </h3>
    <p>
      Te invitamos a añadir un destino que quieras visitar y que no esté en
      nuestra lista predeterminada.
    </p>
  </div>

  <section class="places-container">
    <app-element
      *ngFor="let newPlace of newPlaces"
      [eachPlace]="newPlace"
      (removePlace)="deletePlace(newPlace)"
    ></app-element>
  </section>
</div>
