<div class="form-container">
  <form *ngIf="placesForm" [formGroup]="placesForm" class="places-form">
    <div class="general-info">
      <h3>Información General</h3>

      <div>
        <label for="name">Nombre </label>
        <input type="text" formControlName="name" />

        <p
          class="error-msg"
          *ngIf="
            !nameControl?.valid && (nameControl?.dirty || nameControl?.touched)
          "
        >
          El campo es obligatorio.
        </p>
      </div>

      <div>
        <label for="province">Provincia </label>
        <select formControlName="province">
          <option *ngFor="let province of provinceArray" [value]="province">
            {{ province }}
          </option>
        </select>

        <p
          class="error-msg"
          *ngIf="
            !provinceControl?.valid &&
            (provinceControl?.dirty || provinceControl?.touched)
          "
        >
          El campo es obligatorio.
        </p>
      </div>

      <div>
        <label for="region">Región </label>
        <select formControlName="region">
          <option *ngFor="let region of regionArray" [value]="region">
            {{ region }}
          </option>
        </select>

        <p
          class="error-msg"
          *ngIf="
            !regionControl?.valid &&
            (regionControl?.dirty || regionControl?.touched)
          "
        >
          El campo es obligatorio.
        </p>
      </div>

      <div>
        <label for="description">Descripción </label>
        <input type="text" formControlName="description" />

        <p
          class="error-msg"
          *ngIf="
            !descriptionControl?.valid &&
            (descriptionControl?.dirty || descriptionControl?.touched)
          "
        >
          El campo es obligatorio.
        </p>
      </div>

      <div class="long_description-class">
        <label for="long_description">Descripción Larga </label>
        <textarea
          formControlName="long_description"
          cols="20"
          rows="2"
        ></textarea>

        <p
          class="error-msg"
          *ngIf="
            !longDescriptionControl?.valid &&
            (longDescriptionControl?.dirty || longDescriptionControl?.touched)
          "
        >
          El campo es obligatorio.
        </p>
      </div>
    </div>

    <div formArrayName="activities" class="activities-form">
      <h3>Actividades</h3>

      <button (click)="addNewActivity()">Nueva Actividad</button>
      <div
        *ngFor="let activity of activitiesArray.controls; let i = index"
        [formGroupName]="i"
      >
        <div>
          <label>
            Nombre
            <input type="text" formControlName="name" />
          </label>

          <label>
            Descripción
            <input type="text" formControlName="description" />
          </label>

          <label>
            Tipo
            <input type="text" formControlName="type" />
          </label>
        </div>
      </div>
    </div>

    <div class="main-image-form">
      <h3>Imagen Principal</h3>
      <div>
        <label for="mainimg">Portada </label>
        <input type="text" formControlName="mainimg" />

        <p
          class="error-msg"
          *ngIf="!mainImage?.valid && (mainImage?.dirty || mainImage?.touched)"
        >
          El campo es obligatorio.
        </p>
      </div>
    </div>

    <div formArrayName="images" class="images-form">
      <h3>Imágenes</h3>

      <button (click)="addNewImage()">Nueva Imagen</button>

      <div
        *ngFor="let image of imagesArray.controls; let i = index"
        [formGroupName]="i"
      >
        <label for="id">ID </label>
        <input type="text" formControlName="id" readonly="readonly" />

        <label for="url">URL </label>
        <input type="text" formControlName="url" />
      </div>
    </div>

    <button type="submit" (click)="newCustomPlace()">Submit</button>
  </form>

  <div>
    <img
      src="../../../../assets/defaultplace.jpg"
      alt="Rutas argentinas"
      class="road-image"
    />
  </div>
</div>
