@import '../../../../styles/general/variables';

.form-container {
    margin: 20px 0;
    display: flex;

    .places-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;

        .general-info {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .activities-form,
        .images-form,
        .main-image-form {
            display: flex;
            flex-direction: column;
            gap: 2px;

            .activity-form {
                display: flex;
                flex-direction: column;
                gap: 6px;
            }
    
            .image-form {
                display: flex;
                flex-direction: column;
                gap: 6px;
            }
        }
        
        .error-msg {
            color: #ff6161;
        }
    }

    .road-image {
        display: none;
    }
}

@media (min-width: 1080px) {
    .form-container {
        margin: 0;
        height: 75vh;
        align-items: center;
        justify-content: space-around;

        .places-form {

            .general-info {

                .long_description-class {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    textarea {
                        color: $navy-blue;
                    }
                }
            }

            .activities-form,
            .images-form,
            .main-image-form {

                .activity-form {
                    flex-direction: row;
                }
        
                .image-form {
                    flex-direction: row;
                }
            }
        }

        .road-image {
            display: block;
            width: 600px;
            height: 585px;
            border-radius: 15px;
        }
    }
}