@import '../../../../styles/general/variables';

.form-container {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .places-form {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .general-info {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .long_description-class {
                display: flex;
                align-items: center;
                gap: 4px;

                textarea {
                    color: $navy-blue;
                }
            }
        }

        .activities-form,
        .images-form,
        .main-image-form {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
    }

    .road-image {
        width: 600px;
        height: 585px;
        border-radius: 15px;
    }
}