.back-link {
    margin-top: 10px;
    text-align: center;
}

.new-place-titles {
    text-align: center;
    margin-top: 12px;

    .new-place-text {
        display: none;
    }
}

@media (min-width: 1080px) {

    .new-place-titles {
        display: flex;
        flex-direction: column;
        align-items: center;

        .new-place-text {
            display: block;
        }
    }

    .form-container {
        display: flex;
        flex-direction: column;
    }
}