.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0;
    animation: fade-in 1.5s forwards;
      
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

    .rrss-icon-container {
        display: flex;
        gap: 30px;

        i {
            font-size: 38px;
        }
    }
}