.home-container {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;

    .main-description {
        font-size: 16px;
    }

    .main-title {

        span {
            color: #89e9ff;
        }
    }
}

@media (min-width: 1080px) {

    .home-container {
        height: 85vh;
        gap: 20px;
        margin: 0 80px;
    }
}