<article class="place-card">
  <h2 class="place-title">{{ eachPlace?.name }}</h2>
  <p class="place-description">{{ eachPlace?.description }}</p>
  <p class="place-province">{{ eachPlace?.province }}</p>
  <img [src]="eachPlace?.mainimg" class="place-img" />
  <div class="button-container">
    <button [routerLink]="['../place-details', eachPlace?.id]">
      Ver más info
    </button>
    <button [routerLink]="['../edit-place', eachPlace?.id]">Editar</button>
    <button (click)="deletePlace($event)">Eliminar</button>
  </div>
</article>
