<section class="list-container">
  <div class="filter-container">
    <app-searchbox
      (inputChanges)="findInputChanges($event)"
      class="search-box"
    ></app-searchbox>

    <app-filterbox
      (optionChanges)="findProvinceChanges($event)"
      class="filter-box"
    ></app-filterbox>
  </div>

  <section class="places-container">
    <app-element
      *ngFor="
        let place of allPlaces
          | filterProvince : selectedProvince
          | filterName : searchFilter
      "
      [eachPlace]="place"
      (removePlace)="deletePlace(place)"
    >
    </app-element>
  </section>
</section>
