.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;

    .navbar-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;

        .active-link {
            color: #89e9ff;
        }
    }
}